.container-card{
    padding-top: 2.5%;
}

.form-card{
    background-color: #e3e3e3;
}

.card{
    background-color: #e3e3e3 !important;
}

.jyepsf{
    margin-top: 0 !important;
}

.cvXeTF{
    padding-top: 0 !important;
}