.container-card{
    padding-top: 2%;
}

.h1-card{
    font-weight: bold;
    color: #37C339;
}

.input-card{
    background-color: #EEECEC !important;
    border-radius: 10px !important;
    height: 50px !important;
}

.button-card{
    font-family: 'Poppins', sans-serif;
    max-height: 40px;
    display: inline-block;
    margin: 1%;
    max-width: 100%;
    background-color: #37C339 !important;
    border-radius: 12px !important;
    border-color: transparent !important;
}

.check-card{
    padding-bottom: 1px;
    padding-left: 5px;
    width: 25px;
    pointer-events: none;
}

.sample-card{
    max-height: 40px;
    display: inline-block;
    margin: 1%;
    max-width: 100%;
    background-color: #d1d1d1 !important;
    border-radius: 12px !important;
    border-color: transparent !important;
    color: #d1d1d1 !important;
    opacity: .50 ;
}

#ejemploBtn:active{
    animation: pulse .5s;
}

@keyframes pulse {
    0%{
        opacity: .60;
    }
    50%{
        opacity: .40;
    }
    75%{
        opacity: .20;
    }
    100%{
        opacity: .0;
    }
}

